<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.538114898916-jqg5ht0eigbmb1tmeurfkbr32cqocjds</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>538114898916-jqg5ht0eigbmb1tmeurfkbr32cqocjds.apps.googleusercontent.com</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>logoTransparent</string>
	</dict>
</dict>
</plist>
